
<div class="container">
<h1>This is the default homepage for now</h1>
  <div class="row">
    <div class="col-md-4">
    	<%= image_tag("BlankMap-World6.svg", :alt => "world map") %>
    </div>
  </div>
</div>  